{
    "parserOptions": {
        "ecmaVersion": 5,
        "sourceType": "module"
    },
    "rules": {
        "semi": 2,
        "comma-dangle": 2,
        "no-dupe-keys": 2,
        "no-extra-semi": 2,
        "no-unreachable": 2,
        "no-undef": 2
    },
    "globals": {
        "Atomic": true,
        "ToolCore": true,
        "Editor": true
    },
    "env": {
        "node": true
    }
}
