<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BlackHole.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{1,1},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bullet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,9}</string>
                <key>spriteSourceSize</key>
                <string>{28,9}</string>
                <key>textureRect</key>
                <string>{{43,1},{28,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Glow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,20}</string>
                <key>spriteSourceSize</key>
                <string>{35,20}</string>
                <key>textureRect</key>
                <string>{{73,1},{35,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Laser.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,2}</string>
                <key>spriteSourceSize</key>
                <string>{22,2}</string>
                <key>textureRect</key>
                <string>{{1,43},{22,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pixel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{25,43},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Player.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{43,43},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pointer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,31}</string>
                <key>spriteSourceSize</key>
                <string>{22,31}</string>
                <key>textureRect</key>
                <string>{{85,43},{22,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Seeker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,32}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{1,85},{40,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Wanderer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{43,85},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>AtomicBlasterSprites.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:239e49e98f80103e023f0c0a3ec4cf99:ef38c18e0c31ec79c71fe241a3e0b58c:ab24a4a6a71b325297f3a046ad1ecd48$</string>
            <key>textureFileName</key>
            <string>AtomicBlasterSprites.png</string>
        </dict>
    </dict>
</plist>
