<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Dead__000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{147,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,150}}</string>
                <key>sourceSize</key>
                <string>{147,150}</string>
            </dict>
            <key>Dead__001.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,2},{147,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,150}}</string>
                <key>sourceSize</key>
                <string>{147,150}</string>
            </dict>
            <key>Dead__002.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{147,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,150}}</string>
                <key>sourceSize</key>
                <string>{147,150}</string>
            </dict>
            <key>Dead__003.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,2},{147,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,150}}</string>
                <key>sourceSize</key>
                <string>{147,150}</string>
            </dict>
            <key>Dead__004.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,2},{147,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,150}}</string>
                <key>sourceSize</key>
                <string>{147,150}</string>
            </dict>
            <key>Dead__005.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,2},{147,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,150}}</string>
                <key>sourceSize</key>
                <string>{147,150}</string>
            </dict>
            <key>Dead__006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{147,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,150}}</string>
                <key>sourceSize</key>
                <string>{147,150}</string>
            </dict>
            <key>Dead__007.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,154},{147,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,150}}</string>
                <key>sourceSize</key>
                <string>{147,150}</string>
            </dict>
            <key>Dead__008.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,154},{147,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,150}}</string>
                <key>sourceSize</key>
                <string>{147,150}</string>
            </dict>
            <key>Dead__009.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,154},{147,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,150}}</string>
                <key>sourceSize</key>
                <string>{147,150}</string>
            </dict>
            <key>Idle__000.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,154},{80,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,122}}</string>
                <key>sourceSize</key>
                <string>{80,122}</string>
            </dict>
            <key>Idle__001.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,154},{80,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,122}}</string>
                <key>sourceSize</key>
                <string>{80,122}</string>
            </dict>
            <key>Idle__002.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,154},{80,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,122}}</string>
                <key>sourceSize</key>
                <string>{80,122}</string>
            </dict>
            <key>Idle__003.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,154},{80,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,122}}</string>
                <key>sourceSize</key>
                <string>{80,122}</string>
            </dict>
            <key>Idle__004.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,154},{80,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,122}}</string>
                <key>sourceSize</key>
                <string>{80,122}</string>
            </dict>
            <key>Idle__005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{80,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,122}}</string>
                <key>sourceSize</key>
                <string>{80,122}</string>
            </dict>
            <key>Idle__006.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,306},{80,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,122}}</string>
                <key>sourceSize</key>
                <string>{80,122}</string>
            </dict>
            <key>Idle__007.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,306},{80,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,122}}</string>
                <key>sourceSize</key>
                <string>{80,122}</string>
            </dict>
            <key>Idle__008.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,306},{80,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,122}}</string>
                <key>sourceSize</key>
                <string>{80,122}</string>
            </dict>
            <key>Idle__009.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,306},{80,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,122}}</string>
                <key>sourceSize</key>
                <string>{80,122}</string>
            </dict>
            <key>Jump__000.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,306},{102,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,134}}</string>
                <key>sourceSize</key>
                <string>{102,134}</string>
            </dict>
            <key>Jump__001.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,306},{102,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,134}}</string>
                <key>sourceSize</key>
                <string>{102,134}</string>
            </dict>
            <key>Jump__002.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,306},{102,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,134}}</string>
                <key>sourceSize</key>
                <string>{102,134}</string>
            </dict>
            <key>Jump__003.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,306},{102,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,134}}</string>
                <key>sourceSize</key>
                <string>{102,134}</string>
            </dict>
            <key>Jump__004.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,306},{102,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,134}}</string>
                <key>sourceSize</key>
                <string>{102,134}</string>
            </dict>
            <key>Jump__005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{102,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,134}}</string>
                <key>sourceSize</key>
                <string>{102,134}</string>
            </dict>
            <key>Jump__006.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,442},{102,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,134}}</string>
                <key>sourceSize</key>
                <string>{102,134}</string>
            </dict>
            <key>Jump__007.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,442},{102,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,134}}</string>
                <key>sourceSize</key>
                <string>{102,134}</string>
            </dict>
            <key>Jump__008.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,442},{102,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,134}}</string>
                <key>sourceSize</key>
                <string>{102,134}</string>
            </dict>
            <key>Jump__009.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,442},{102,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,134}}</string>
                <key>sourceSize</key>
                <string>{102,134}</string>
            </dict>
            <key>Run__000.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,442},{104,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,127}}</string>
                <key>sourceSize</key>
                <string>{104,127}</string>
            </dict>
            <key>Run__001.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,442},{104,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,127}}</string>
                <key>sourceSize</key>
                <string>{104,127}</string>
            </dict>
            <key>Run__002.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,442},{104,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,127}}</string>
                <key>sourceSize</key>
                <string>{104,127}</string>
            </dict>
            <key>Run__003.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,442},{104,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,127}}</string>
                <key>sourceSize</key>
                <string>{104,127}</string>
            </dict>
            <key>Run__004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,578},{104,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,127}}</string>
                <key>sourceSize</key>
                <string>{104,127}</string>
            </dict>
            <key>Run__005.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,578},{104,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,127}}</string>
                <key>sourceSize</key>
                <string>{104,127}</string>
            </dict>
            <key>Run__006.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,578},{104,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,127}}</string>
                <key>sourceSize</key>
                <string>{104,127}</string>
            </dict>
            <key>Run__007.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,578},{104,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,127}}</string>
                <key>sourceSize</key>
                <string>{104,127}</string>
            </dict>
            <key>Run__008.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,578},{104,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,127}}</string>
                <key>sourceSize</key>
                <string>{104,127}</string>
            </dict>
            <key>Run__009.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,578},{104,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,127}}</string>
                <key>sourceSize</key>
                <string>{104,127}</string>
            </dict>
            <key>Slide__000.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,578},{99,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,97}}</string>
                <key>sourceSize</key>
                <string>{99,97}</string>
            </dict>
            <key>Slide__001.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,578},{99,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,97}}</string>
                <key>sourceSize</key>
                <string>{99,97}</string>
            </dict>
            <key>Slide__002.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,578},{99,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,97}}</string>
                <key>sourceSize</key>
                <string>{99,97}</string>
            </dict>
            <key>Slide__003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,707},{99,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,97}}</string>
                <key>sourceSize</key>
                <string>{99,97}</string>
            </dict>
            <key>Slide__004.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,707},{99,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,97}}</string>
                <key>sourceSize</key>
                <string>{99,97}</string>
            </dict>
            <key>Slide__005.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,707},{99,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,97}}</string>
                <key>sourceSize</key>
                <string>{99,97}</string>
            </dict>
            <key>Slide__006.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,707},{99,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,97}}</string>
                <key>sourceSize</key>
                <string>{99,97}</string>
            </dict>
            <key>Slide__007.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,707},{99,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,97}}</string>
                <key>sourceSize</key>
                <string>{99,97}</string>
            </dict>
            <key>Slide__008.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,707},{99,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,97}}</string>
                <key>sourceSize</key>
                <string>{99,97}</string>
            </dict>
            <key>Slide__009.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,707},{99,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,97}}</string>
                <key>sourceSize</key>
                <string>{99,97}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Hero.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6b6e73b58a1e885fe67e45b7be872d42:7caf00b865dece39cdf63e34213716d6:39db81978b5d821c653ed2e674af469f$</string>
            <key>textureFileName</key>
            <string>Hero.png</string>
        </dict>
    </dict>
</plist>
